:root {
    --background: #111;
    --opacity: 0;
    --radius: 10px;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
    font-family: Tahoma, sans-serif;
}

.get-data {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: var(--radius);
}

.get-data:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: var(--opacity);
    transition: opacity .3s ease-in-out;
    border-radius: var(--radius);
}

.get-data:hover:before {
    opacity: 1;
}

.get-data:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background);
    left: 0;
    top: 0;
    border-radius: var(--radius);
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.data {
    background: #111;
    color: white;
    border-radius: var(--radius);
    padding: 1rem;
}

.data__header {
    font-size: 1.25rem;
}

.data__list {
    list-style: none;
    padding: 0;
}

.data__list-element {
    margin-block: 0.5rem;
}